Repository UOA-SE701-Group3-2021/3Lancers, pull requests merged in 2021-04, with the labels that each got.

#259 fixed new todo form, so incomplete forms cannot be handled
  telos-frontend/src/components/todo/JournalTodo.jsx
Labels: bug, frontend

#263 Removed Cancel button in TopBar
  telos-frontend/src/components/top-bar/TopBar.jsx
Labels: design, enhancement, frontend

#264 Horizontally centered HabitTracker with some vertical margins
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
Labels: design, enhancement, frontend

#268 Changed Actions to run both on any PR to fix branch protection rules
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Labels: bug

#246 Fixed WidgetCalendar typo
  telos-frontend/src/components/calendar/WidgetCalendar.jsx
  telos-frontend/src/components/calendar/WidgetCalendar.test.js
  telos-frontend/src/components/calendar/__snapshots__/WidgetCalendar.test.js.snap
Labels: frontend

#262 #238 Delete Widget Functionality
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/components/calendar/JournalCalendar.jsx
  telos-frontend/src/components/calendar/JournalCalendar.module.css
  telos-frontend/src/components/text/JournalText.jsx
  telos-frontend/src/components/text/TextWidget.module.css
  telos-frontend/src/components/todo/JournalTodo.jsx
  telos-frontend/src/components/todo/JournalTodo.module.css
  telos-frontend/src/dnd/DraggableWidget.jsx
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Page.jsx
Labels: design, enhancement, frontend

#257 Added Logo and improved styling
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
  telos-frontend/src/components/todo/DashboardTodo.jsx
  telos-frontend/src/components/todo/DashboardTodo.module.css
  telos-frontend/src/components/top-bar/TopBar.jsx
Labels: design, enhancement, frontend

#269 Centered Habit Tracker
  telos-frontend/src/components/calendar/__snapshots__/WidgetCalendar.test.js.snap
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
Labels: design, enhancement, frontend

#247 Update the backend app.js console logs
  telos-backend/app.js
Labels: backend

#272 Implement API endpoint for the Dashboard view
  telos-backend/src/routes/api/dashboard.js
  telos-frontend/src/components/calendar/__snapshots__/WidgetCalendar.test.js.snap
Labels: backend

#275 Implement youtube widget real functionality
  telos-backend/src/models/widget.js
  telos-frontend/src/App.js
  telos-frontend/src/components/youtube-player/JournalYoutubePlayer.jsx
  telos-frontend/src/components/youtube-player/JournalYoutubePlayer.module.css
  telos-frontend/src/components/youtube-player/WidgetYoutubePlayer.jsx
  telos-frontend/src/dnd/WidgetTypes.js
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: backend, enhancement, frontend

#273 Create Script for Initialising Dummy Data in MongoDB for the Habit Tracker
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/db/dummy-habit-tracker.js
  telos-backend/src/db/init-habit-tracker-db.js
Labels: backend

#270 Replace inline SVG with Material UI icon ChevronLeft
  telos-frontend/src/components/widget-drawer/WidgetDrawer.jsx
Labels: frontend

#274 Create Script for Initialising Dummy Data in MongoDB for the Calendar
  telos-backend/package.json
  telos-backend/src/db/Main.js
  telos-backend/src/db/dummy-calendar-events.js
  telos-backend/src/db/init-calendar-event-db.js
  telos-backend/src/db/init-habit-tracker-db.js
Labels: backend

#276 Implement Clock widget that displays current time
  telos-backend/src/models/widget.js
  telos-frontend/src/App.js
  telos-frontend/src/components/calendar/__snapshots__/WidgetCalendar.test.js.snap
  telos-frontend/src/components/clock/Clock.jsx
  telos-frontend/src/components/clock/WidgetClock.jsx
  telos-frontend/src/components/clock/WidgetClock.module.css
  telos-frontend/src/components/widget-drawer/WidgetDrawer.jsx
  telos-frontend/src/dnd/WidgetTypes.js
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: backend, enhancement, frontend

#278 Made date deterministic to stop PR test failing
  telos-frontend/src/components/calendar/WidgetCalendar.test.js
  telos-frontend/src/components/calendar/__snapshots__/WidgetCalendar.test.js.snap
Labels: bug

#280 Implement Weather Widget to display current location weather
  telos-backend/src/models/widget.js
  telos-frontend/src/App.js
  telos-frontend/src/components/weather/JournalWeather.jsx
  telos-frontend/src/components/weather/JournalWeather.module.css
  telos-frontend/src/components/weather/WidgetWeather.jsx
  telos-frontend/src/dnd/WidgetTypes.js
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: backend, enhancement, frontend

#285 Changed width of calendar to accommodate pop up window
  telos-frontend/src/components/calendar/JournalCalendar.jsx
Labels: bug, frontend

#282 YouTube widgets resize was misplaced when generating a widget #281
  telos-frontend/src/components/youtube-player/JournalYoutubePlayer.module.css
Labels: bug, frontend

#279 Refactoring widgets and css
  telos-frontend/src/App.js
  telos-frontend/src/components/calendar/JournalCalendar.jsx
  telos-frontend/src/components/calendar/JournalCalendar.module.css
  telos-frontend/src/components/clock/Clock.jsx
  telos-frontend/src/components/clock/WidgetClock.module.css
  telos-frontend/src/components/text/JournalText.jsx
  telos-frontend/src/components/text/TextWidget.module.css
  telos-frontend/src/components/todo/JournalTodo.jsx
  telos-frontend/src/components/weather/JournalWeather.jsx
  telos-frontend/src/components/weather/JournalWeather.module.css
  telos-frontend/src/components/youtube-player/JournalYoutubePlayer.jsx
  telos-frontend/src/dnd/DraggableWidget.jsx
  telos-frontend/src/dnd/DraggableWidget.module.css
  telos-frontend/src/views/journal/Page.jsx
Labels: frontend

#288 Habit Tracker functionality
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
  telos-frontend/src/components/habit-tracker/HabitTrackerCard.jsx
Labels: frontend

#289 Bugfix where weather widget was draggable from below content area
  telos-frontend/src/components/weather/JournalWeather.jsx
  telos-frontend/src/components/weather/JournalWeather.module.css
Labels: bug, frontend

#287 Steam widget
  telos-backend/src/models/widget.js
  telos-backend/src/routes/api/index.js
  telos-backend/src/routes/api/steam.js
  telos-backend/test/integration/steam_api.test.js
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/App.js
  telos-frontend/src/components/steam/WidgetSteam.jsx
  telos-frontend/src/components/steam/steam.jsx
  telos-frontend/src/dnd/WidgetTypes.js
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: enhancement, frontend

#293 Fixed sizing issue on journal page
  telos-frontend/src/components/widget-drawer/WidgetDrawer.module.css
Labels: design, enhancement, frontend

#296 Styling and Instructions for steamWidget when no data is loaded
  telos-frontend/src/components/steam/steam.jsx
Labels: frontend

#290 Implement Todo list widget with backend
  telos-frontend/src/components/todo/DashboardTodo.jsx
Labels: backend, frontend

#291 added a cancelled field to the todo_task schema
  telos-backend/src/models/todo_task.js
Labels: backend, enhancement

#301 Added some clock CSS to fix height and drag issue
  telos-frontend/src/components/clock/Clock.jsx
  telos-frontend/src/components/clock/WidgetClock.module.css
  telos-frontend/src/dnd/utils.js
Labels: frontend

#298 Adding a field to provide the Steam name
  telos-frontend/src/components/steam/steam.jsx
Labels: frontend

#266 Add the habit tracker to Journal View
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/WidgetHabitTracker.jsx
Labels: frontend
