Repository UOA-SE701-Group3-2021/3Lancers, pull requests merged in 2021-03, with the labels that each got.

#68 Closes #31: Generating backend app structure with basic dependencies.
  telos-backend/.gitignore
  telos-backend/app.js
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/models/todos.js
  telos-backend/src/routes/api/index.js
  telos-backend/src/routes/index.js
  telos-backend/test/test.js
Labels: backend

#69 Closes #67: Setup prettier and eslint configs for frontend
  telos-frontend/.eslintrc.js
  telos-frontend/.gitignore
  telos-frontend/.prettierrc.js
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/reportWebVitals.js
Labels: frontend

#88 Closes #85: Create Folder Structure of Frontend Client
  telos-frontend/.gitignore
  telos-frontend/src/components/calendar/DashboardCalendar.jsx
  telos-frontend/src/components/calendar/JournalCalendar.jsx
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
  telos-frontend/src/components/text/JournalText.jsx
  telos-frontend/src/components/todo/DashboardTodo.jsx
  telos-frontend/src/components/todo/JournalTodo.jsx
  telos-frontend/src/views/dashboard/Dashboard.jsx
  telos-frontend/src/views/journal/Journal.jsx
Labels: frontend

#84 Closes #83: setup eslint + prettier for backend
  telos-backend/.eslintrc.js
  telos-backend/.prettierrc.js
  telos-backend/app.js
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/models/todos.js
  telos-backend/src/routes/api/index.js
  telos-backend/src/routes/index.js
  telos-backend/test/test.js
Labels: backend

#97 Closes #94: Fixing linting errors for backend
  telos-backend/.eslintrc.js
  telos-backend/app.js
  telos-backend/package.json
  telos-backend/src/models/todos.js
  telos-backend/src/routes/api/index.js
  telos-backend/src/routes/index.js
Labels: backend

#98 Added pull_request_template
  .github/pull_request_template.md
Labels: documentation

#99 Closes #86: Setup GitHub Actions for Frontend & Backend
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  telos-frontend/package.json
  telos-frontend/src/index.js
Labels: backend, frontend

#105 Implement dashboard view of todo list
  telos-frontend/src/components/todo/DashboardTodo.css
  telos-frontend/src/components/todo/DashboardTodo.jsx
Labels: frontend

#106 Implemented dashboard view of habit tracker
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.css
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
Labels: frontend

#109 Implementation of Design of Habit tracker (Journal / Daily View)
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
Labels: frontend

#100 Closes #89: Setup Frontend README
  telos-frontend/README.md
Labels: documentation, frontend

#101 Closes #39: define dummy endpoints
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/routes/api/calendar.js
  telos-backend/src/routes/api/dashboard.js
  telos-backend/src/routes/api/habittracker.js
  telos-backend/src/routes/api/index.js
  telos-backend/src/routes/api/journal.js
  telos-backend/src/routes/api/text.js
  telos-backend/src/routes/api/todo.js
Labels: backend

#120 Closes #73: Configuration for connecting to local MongoDB instance using Mongoose
  telos-backend/app.js
Labels: backend

#128 Closes #41: Initial configuration for in-memory databases for testing purposes
  telos-backend/.eslintrc.js
  telos-backend/app.js
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/test/db-helper.js
  telos-backend/test/unit.test.js
Labels: backend

#132 Added routing for all the different components with url links.
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/App.js
Labels: enhancement, frontend

#124 Closes #123: Implement schemas
  telos-backend/src/models/calendar_event.js
  telos-backend/src/models/habit.js
  telos-backend/src/models/text.js
  telos-backend/src/models/todo_task.js
  telos-backend/src/models/todos.js
  telos-backend/src/models/widget.js
  telos-backend/test/models/calendar_event.test.js
  telos-backend/test/models/habit.test.js
  telos-backend/test/models/text.test.js
  telos-backend/test/models/todo_task.test.js
  telos-backend/test/models/widget.test.js
  telos-backend/test/test.js
  telos-backend/test/unit.test.js
Labels: backend

#136 Feature text widget state functionality
  telos-frontend/package-lock.json
  telos-frontend/src/components/text/JournalText.Test.js
  telos-frontend/src/components/text/JournalText.jsx
Labels: frontend

#133 Added test url for text widget
  telos-frontend/src/App.js
Labels: enhancement

#119 Add dummy data and add/delete event functionality
  telos-frontend/package-lock.json
  telos-frontend/src/components/calendar/DashboardCalendar.jsx
  telos-frontend/src/components/calendar/react-big-calendar.css
Labels: frontend

#147 renamed JournalText.Test.js to JournalText.test.js to ensure it is detected by Jest
  telos-frontend/src/components/text/JournalText.test.js
Labels: frontend

#146 Added widget drawer (no text widget icon yet)
  telos-frontend/src/App.css
  telos-frontend/src/App.js
  telos-frontend/src/components/Widget.css
  telos-frontend/src/components/calendar/WidgetCalendar.css
  telos-frontend/src/components/calendar/WidgetCalendar.jsx
  telos-frontend/src/components/habit-tracker/WidgetHabitTracker.css
  telos-frontend/src/components/habit-tracker/WidgetHabitTracker.jsx
  telos-frontend/src/components/todo/WidgetTodo.jsx
  telos-frontend/src/components/widget-drawer/WidgetDrawer.css
  telos-frontend/src/components/widget-drawer/WidgetDrawer.jsx
Labels: frontend

#151 Closes #141: Created Menu, updated routes for dashboard widgets
  telos-frontend/src/App.js
  telos-frontend/src/components/top-bar/TopBar.jsx
Labels: frontend

#138 Habit tracker (Dashboard / Full Screen View) - Functionality with dummy data
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.css
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/WeekScheduleBarHabitTracker.jsx
Labels: frontend

#139 Closes #38: Implement API Endpoints for Text
  telos-backend/app.js
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/models/text.js
  telos-backend/src/routes/api/text.js
  telos-backend/test/integration/text_api.test.js
Labels: backend

#159 Text widget icon
  telos-frontend/src/App.js
  telos-frontend/src/components/Widget.css
  telos-frontend/src/components/calendar/WidgetCalendar.css
  telos-frontend/src/components/calendar/WidgetCalendar.jsx
  telos-frontend/src/components/text/WidgetText.jsx
  telos-frontend/src/components/widget-drawer/WidgetDrawer.css
  telos-frontend/src/components/widget-drawer/WidgetDrawer.jsx
Labels: enhancement, frontend

#152 Implemented components and functionality to change the current day
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/App.css
  telos-frontend/src/views/journal/Journal.css
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.css
  telos-frontend/src/views/journal/Page.jsx
Labels: frontend

#150 Closes #134: Widget drag and drop
  telos-frontend/package-lock.json
  telos-frontend/package.json
  telos-frontend/src/App.js
  telos-frontend/src/dnd/CustomDragLayer.jsx
  telos-frontend/src/dnd/DraggableWidget.jsx
  telos-frontend/src/dnd/WidgetTypes.js
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
Labels: frontend

#162 Closes #148: Bug fix consistent style for the journal text widget
  telos-frontend/src/components/text/JournalText.jsx
  telos-frontend/src/components/text/TextWidget.module.css
Labels: frontend

#154 Changed the Journal Calendar colour from blue to purple
  telos-frontend/src/components/calendar/JournalCalendar.jsx
Labels: enhancement, frontend

#164 Closes #155: Fix components reaching past screen size then requiring scrolling
  telos-frontend/src/App.css
  telos-frontend/src/App.js
  telos-frontend/src/components/calendar/DashboardCalendar.jsx
Labels: approved, bug, frontend

#168 Closes #166: Fixed static repeated port for express app in integration tests
  telos-backend/test/integration/calendar_api.test.js
  telos-backend/test/integration/text_api.test.js
Labels: approved, backend, bug

#178 Closes #176: Add all journal widgets to initial state of Journal view
  telos-frontend/src/components/calendar/JournalCalendar.jsx
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
Labels: frontend

#181 Closes #167: Page specific widgets
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.css
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: frontend

#182 CSS Modules change
  telos-frontend/src/App.js
  telos-frontend/src/App.module.css
  telos-frontend/src/components/Widget.module.css
  telos-frontend/src/components/calendar/WidgetCalendar.jsx
  telos-frontend/src/components/calendar/WidgetCalendar.module.css
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.module.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.module.css
  telos-frontend/src/components/habit-tracker/WeekScheduleBarHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/WidgetHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/WidgetHabitTracker.module.css
  telos-frontend/src/components/text/TextWidget.module.css
  telos-frontend/src/components/text/WidgetText.jsx
  telos-frontend/src/components/todo/DashboardTodo.jsx
  telos-frontend/src/components/todo/DashboardTodo.module.css
  telos-frontend/src/components/todo/JournalTodo.jsx
  telos-frontend/src/components/todo/JournalTodo.module.css
  telos-frontend/src/components/todo/JournalTodoCheckbox.css
  telos-frontend/src/components/todo/WidgetTodo.jsx
  telos-frontend/src/components/widget-drawer/WidgetDrawer.jsx
  telos-frontend/src/components/widget-drawer/WidgetDrawer.module.css
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Journal.module.css
  telos-frontend/src/views/journal/Page.jsx
  telos-frontend/src/views/journal/Page.module.css
Labels: bug, frontend

#183 Issue #74 Majority Functionality of Journal Calendar with Dummy Data
  telos-frontend/package-lock.json
  telos-frontend/src/components/calendar/JournalCalendar.jsx
Labels: frontend

#180 Closes #40: Generate dummy document for todo task
  telos-backend/README.md
  telos-backend/app.js
  telos-backend/demo.js
Labels: backend

#188 Fix habit views
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.module.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.module.css
  telos-frontend/src/components/habit-tracker/WeekScheduleBarHabitTracker.jsx
Labels: bug, frontend

#140 Closes #34: Implement API endpoints for TodoList
  telos-backend/src/routes/api/todo.js
  telos-backend/test/integration/todo_api.test.js
Labels: backend

#179 Closes #173: Implement API endpoints for Journal view
  telos-backend/src/models/text.js
  telos-backend/src/routes/api/journal.js
  telos-backend/test/integration/journal_api.test.js
  telos-backend/test/integration/text_api.test.js
Labels: backend

#194 Add cors header
  telos-backend/app.js
  telos-backend/package-lock.json
  telos-backend/package.json
  telos-backend/src/routes/api/journal.js
  telos-backend/test/integration/journal_api.test.js
Labels: backend

#201 Updated title to reflect our app name
  telos-frontend/public/index.html
Labels: enhancement

#197 Closes #189: removed console.log from method stubs as it violates ESLint rules
  telos-frontend/src/components/top-bar/TopBar.jsx
Labels: frontend

#196 Closes #28: Backend readme
  telos-backend/README.md
Labels: backend

#203 Closes #37: Implemented API endpoints for Habit Tracker
  telos-backend/src/routes/api/habittracker.js
  telos-backend/test/integration/habittracker_api.test.js
Labels: backend

#207 Closes #206: Bug fix font change text widget
  telos-frontend/src/components/text/TextWidget.module.css
Labels: frontend

#209 Feature 202 fix journal text display
  telos-frontend/src/views/journal/Journal.module.css
Labels: enhancement, frontend

#212 Updated the installation instructions
  telos-frontend/README.md
Labels: frontend

#205 Integrated adding/moving page widgets with backend
  telos-frontend/.eslintrc.js
  telos-frontend/package.json
  telos-frontend/src/dnd/CustomDragLayer.jsx
  telos-frontend/src/dnd/DraggableWidget.jsx
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: frontend

#217 Changed DashboardTodo code to closer match JournalTodo
  telos-frontend/src/components/todo/DashboardTodo.jsx
  telos-frontend/src/components/todo/DashboardTodo.module.css
Labels: frontend

#219 #53: Journal Todo List Backend Integration
  telos-frontend/src/App.js
  telos-frontend/src/components/todo/JournalTodo.jsx
  telos-frontend/src/dnd/CustomDragLayer.jsx
  telos-frontend/src/dnd/DraggableWidget.jsx
  telos-frontend/src/dnd/utils.js
  telos-frontend/src/views/journal/Journal.jsx
  telos-frontend/src/views/journal/Page.jsx
Labels: frontend

#213 Added comments to Journal files
  telos-frontend/src/views/journal/Journal.jsx
Labels: frontend

#216 Added instructions to README for how to run entire application with all features working
  README.md
  telos-frontend/README.md
Labels: documentation, frontend

#221 Habit Tracker Widget - Refactor Dashboard, Journal and WeekScheduleBar, merge duplicated CSS
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/DashboardHabitTracker.module.css
  telos-frontend/src/components/habit-tracker/HabitTracker.module.css
  telos-frontend/src/components/habit-tracker/JournalHabitTracker.jsx
  telos-frontend/src/components/habit-tracker/WeekScheduleBarHabitTracker.jsx
Labels: frontend

#227 Commenting on Journal To Do List widget
  telos-frontend/src/components/todo/JournalTodo.jsx
Labels: documentation, frontend

#235 Add installation instructions of MongoDB for non-windows OS & Fix mistakes in frontend README instructions
  telos-backend/README.md
  telos-frontend/README.md
Labels: backend, bug, documentation, frontend

#226 Commenting on the dashboard todo widget
  telos-frontend/src/components/todo/DashboardTodo.jsx
Labels: documentation, frontend

#240 Changed styling of Dashboard Todo to better match Journal Todo
  telos-frontend/src/components/todo/DashboardTodo.jsx
  telos-frontend/src/components/todo/DashboardTodo.module.css
Labels: frontend

#239 Closes #44: Create backend dummy text widget
  telos-backend/app.js
  telos-backend/demo.js
Labels: backend
